body {
  margin: 0;
}
.stripe_menu_container {
  background: rgba(45,45,45,0.98);
  text-align: center;
  height: 44px;
}
.stripe.menu {
  background-color: rgba(45,45,45,0.98);
  height: 44px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.hamburger_slice {
  list-style: none;
}
.nav_link {
  text-decoration: none;
  color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 13px;
  position: relative;
  bottom: 35px;
}
.nav_pic {
  max-height: 45px;
  max-width: 35px;
  object-fit: contain;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: relative;
  bottom: 17px;
}
@media screen and (max-width: 700px) {
  .nav_link {
    display: none;
  }
  .nav_search {
    display: none;
  }
  .hamburger_slice {
    width: 18px;
    height: 1px;
    background-color: white;
    margin: 6px;
    position: relative;
    right: 20px;
  }
  .nav_pic {
    position: relative;
    bottom: 40px;
  }
  .nav_pic.apple {
    left: 25px;
  }
  .nav_shop {
    float: right;
  }
}
.stripe_promo1_container {
  padding-top: 52px;
  padding-bottom: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-bottom: 12px solid rgb(255, 255, 255);
}
.promo1 div.heading {
  font-size: 28px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  margin-bottom: 6px;
}
.promo1 div.text {
  font-size: 19px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
}
.promo1 div.links {
  font-size: 19px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  margin-top: 11px;
}
.promo1 div.links a {
  text-decoration: none;
  color: rgb(0, 112, 201);
}
.promo1 span.small_r {
  font-size: 20px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
  margin-left: -8px;
}
.stripe_promo2_container {
  padding-top: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-bottom: 5px solid rgb(255, 255, 255);
}
.promo2 a div.xr_image {
  margin-bottom: 18px;
  background-image: url(../images/iphone_xr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 28px;
}
.promo2 div.phone_float {
  background-image: url(../images/floating_phones.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 373px;
}
.promo2 div.phone_float_shrink {
  display: none;
}
.promo2 a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 21px;
}
.promo2 div.learn_buy {
  margin-top: 10px;
}
.promo2 div a {
  text-decoration: none;
  color: rgb(0, 112, 201);
}
@media screen and (max-width: 700px) {
  .promo2 div.phone_float {
    display: none;
  }
  .promo2 div.phone_float_shrink {
    background-image: url(../images/floating_phones_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 351px;
    width: 279px;
    display: inline-block;
  }
}
.stripe_promo3_container {
  padding-top: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-bottom: 12px;
  border: solid rgb(255, 255, 255);
}
.promo3 a div.xs_image {
  margin-bottom: 18px;
  background-image: url(../images/iphone_xs.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 28px;
}
.promo3 div.xs_phones {
  background-image: url(../images/xs_phones.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 295px;
}
.promo3 div.xs_phones_shrink {
  display: none;
}
.promo3 a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 21px;
}
.promo3 div.learn_buy {
  margin-top: 10px;
  margin-bottom: 30px;
}
.promo3 div a {
  text-decoration: none;
  color: rgb(0, 112, 201);
}
@media screen and (max-width: 700px) {
  .promo3 div.xs_phones {
    display: none;
  }
  .promo3 div.xs_phones_shrink {
    background-image: url(../images/xs_phones_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 309px;
    width: 220px;
    display: inline-block;
  }
}
.stripe_promo4_container {
  padding-top: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-bottom: 12px;
  border: solid rgb(255, 255, 255);
  background-image: url(../images/credit_card.jpg);
  background-size: cover;
  background-position: bottom;
  height: 657px;
}
.promo4 a div.this_is_card {
  margin-bottom: 18px;
  background-image: url(../images/this_is_card.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 43px;
}
.promo4 a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 21px;
}
.promo4 div.learn_buy {
  margin-top: 10px;
  margin-bottom: 30px;
}
.promo4 div a {
  text-decoration: none;
  color: rgb(0, 112, 201);
}
@media screen and (max-width: 700px) {
  .stripe_promo4_container {
    padding-top: 52px;
    background: rgb(250, 250, 250);
    text-align: center;
    border-bottom: 12px;
    border: solid rgb(255, 255, 255);
    background-image: url(../images/credit_card_2.jpg);
    background-size: cover;
    background-position: bottom;
    height: 657px;
  }
}
.promo5_row_container {
  font-size: 0px;
}
.box1.promo5_boxes {
  padding-top: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-top: 6px solid rgb(255, 255, 255);
  border-bottom: 6px solid rgb(255, 255, 255);
  border-left: 12px solid rgb(255, 255, 255);
  border-right: 6px solid rgb(255, 255, 255);
  background-image: url(../images/news_background.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: inline-block;
  width: calc(100%/2 - 18px);
  vertical-align: top;
}
.box2.promo5_boxes {
  padding-top: 52px;
  background: rgb(250, 250, 250);
  text-align: center;
  border-top: 6px solid rgb(255, 255, 255);
  border-bottom: 6px solid rgb(255, 255, 255);
  border-left: 6px solid rgb(255, 255, 255);
  border-right: 12px solid rgb(255, 255, 255);
  background-image: url(../images/apple_tv_background.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: inline-block;
  width: calc(100%/2 - 18px);
  vertical-align: top;
}
.promo5_boxes.promo5_row2_box1 {
  background-image: url(../images/arcade_background.jpg);
}
.promo5_boxes.promo5_row2_box2 {
  background-image: url(../images/music_background.jpg);
}
.promo5_boxes.promo5_row3_box1 {
  background-image: url(../images/watch_background.jpg);
}
.promo5_boxes.promo5_row3_box2 {
  background-image: url(../images/airpods_background.jpg);
}
.promo5_boxes a div.apple_news {
  margin-bottom: 18px;
  background-image: url(../images/news.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
}
.promo5_boxes a div.apple_tv {
  margin-bottom: 18px;
  background-image: url(../images/apple_tv.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
}
.promo5_boxes a div.apple_arcade {
  margin-bottom: 18px;
  background-image: url(../images/arcade.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
}
.promo5_boxes a div.apple_music {
  margin-bottom: 18px;
  background-image: url(../images/music.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
}
.tiny_music {
  position: relative;
  top: 310px;
}
.promo5_boxes a div.apple_watch {
  margin-bottom: 18px;
  background-image: url(../images/watch.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 44px;
}
.promo5_boxes a div.apple_airpods {
  margin-bottom: 18px;
  font-size: 32px;
  font-weight: 600;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.promo5_boxes a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 19px;
}
.promo5_boxes a.white {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 19px;
}
.promo5_boxes div.learn_buy {
  margin-top: 10px;
  margin-bottom: 30px;
}
.promo5_boxes div a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding-right: 20px;
}
.promo5_boxes div.white a {
  text-decoration: none;
  color: rgb(0, 112, 201);
  font-size: 17px;
}
@media screen and (max-width: 700px) {
  .box1.promo5_boxes {
    display: block;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 6px solid rgb(255, 255, 255);
  }
  .box2.promo5_boxes {
    display: block;
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 6px solid rgb(255, 255, 255);
    border-top: 6px solid rgb(255, 255, 255);
  }
}
.footer_container {
  background-color: rgb(242, 242, 242);
}
.footer_inner_container {
  padding-left: 22px;
  padding-right: 22px;
  margin-left: 250px;
  margin-right: 250px;
}
@media screen and (max-width: 1200px) {
  .footer_inner_container {
    margin: auto;
  }
}
.footer_nav_phone {
  display: none;
}
.asterisks {
  color: rgb(136, 136, 136);
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-top: 17px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.asterisks .little_r {
  font-size: 9px;
  margin-left: -3px;
}
.asterisks .dark_text {
  color: rgb(85, 85, 85);
  text-decoration: none;
}
.footer_nav {
  padding-top: 0px;
}
.footer_column {
  display: inline-block;
  vertical-align: top;
  width: calc(100%/5 - 4px);
}
.footer_nav .footer_column h6 {
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 600px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-bottom: 10px;
}
.footer_nav .footer_column a {
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-weight: 400px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.footer_end_container {
  position: relative;
  padding-top: 34px;
  padding-bottom: 21px;
}
.footer_end {
  color: rgb(136, 136, 136);
  font-size: 12px;
  font-weight: 400px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.footer_end a {
  color: rgb(0, 112, 201);
  text-decoration: none;
}
.country {
  position: absolute;
  right: 25px;
  margin-top: 7px;
  background-image: url(../images/usa_flag.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.country a {
  position: relative;
  left: 25px;
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-weight: 400px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
}
.copyright {
  color: rgb(136, 136, 136);
  font-size: 12px;
  font-weight: 400px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
}
.legal_others {
  display: inline-block;
}
.legal_others a {
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-weight: 400px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
  padding-right: 10px;
  border-right: 1px solid rgb(214, 214, 214);
  margin-right: 7px;
}
.legal_others a.last {
  padding-right: none;
  border-right: none;
  margin-right: none;
}
.footer_nav_plus {
  display: none;
}
@media screen and (max-width: 700px) {
  .footer_nav {
    display: none;
  }
  .footer_nav_phone {
    display: inline;
  }
  .footer_nav_phone h6 {
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(51, 51, 51);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .country {
    position: static;
    margin-top: 15px;
    margin-bottom: 10px;
    background-image: url(../images/usa_flag.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
  .footer_nav_plus {
    display: block;
    float: right;
  }
  .footer_end {
    border-bottom: none;
  }
}
div a.link_underline:hover {
  text-decoration: underline;
}
.menu a:hover, .menu img:hover {
  opacity: .65;
  cursor: pointer;
}